transformers==4.57.3
accelerate==1.12.0
torch==2.9.1
datasets[audio]==4.4.2
librosa==0.11.0
openai-whisper==20250625
jiwer==4.0.0
pandas==2.3.3
numpy==2.3.5
matplotlib==3.10.7
tqdm==4.67.1
ptitprince==0.3.1
ffmpeg-python==0.2.0
ipython==9.8.0
ipywidgets==8.1.8
ipykernel==7.1.0
watermark==2.6.0